<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Url Shortener</title>
  </head>
  <body>
    <div class="container">
      <h1 class="bg-white bg-gradient text-black py-3 mt-4">
        Welcome to URL Shortener Service
      </h1>
      <form action="/shortUrls" method="POST" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input
          required
          placeholder="Url"
          type="url"
          name="fullUrl"
          id="fullUrl"
          class="form-control col mr-2"
        />
        <input
          placeholder="alias"
          type="string"
          name="alias"
          id="alias"
          class="form-control mr-2"
        />
        <button type="submit" id="currentShortenedUrl" class="btn btn-success">
          Submit
        </button>
      </form>

      <div id="shortenedUrl" style="display: none">
        <p><b>Your Shortened URL :&nbsp;</b></p>
        <a id="shortenedUrlLink"></a>
      </div>

      <p id="withoutFullUrl" style="display: none" class="bg-white text-danger">
        <i><strong>Please Enter the full URL !</strong></i>
      </p>

      <button id="showUrlsBtn" class="btn btn-dark">Show My URL's</button>

      <div id="urlsTableDiv" style="display: none">
        <table class="table table-striped table-responsive text-black mt-4">
          <thead>
            <tr>
              <th>Full URL</th>
              <th>Short URL</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(shortUrl => { %>
            <tr>
              <td>
                <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
              </td>
              <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      const showUrlsBtn = document.getElementById("showUrlsBtn");
      const urlsTableDiv = document.getElementById("urlsTableDiv");
      const specificElement = document.getElementById("specificElement");
      const shortenedUrl = document.getElementById("shortenedUrl");
      const currentShortenedUrl = document.getElementById(
        "currentShortenedUrl"
      );
      const fullUrlInput = document.getElementById("fullUrl");
      const withoutFullUrl = document.getElementById("withoutFullUrl");

      showUrlsBtn.addEventListener("click", function () {
        urlsTableDiv.style.display = "block";
      });

      currentShortenedUrl.addEventListener("click", function () {
        if (fullUrlInput.value === "") {
          withoutFullUrl.style.display = "flex";
        } else {
          const shortUrl =
            "<%= shortUrls && Object.keys(shortUrls).length > 0 ? shortUrls[Object.keys(shortUrls)[Object.keys(shortUrls).length - 1]].short : '' %>";
          const fullShortUrl = `https://urlshortener-dev.onrender.com/${shortUrl}`;
          shortenedUrlLink.href = fullShortUrl;
          shortenedUrlLink.textContent = fullShortUrl;
          shortenedUrl.style.display = "flex";
        }
      });
    </script>
  </body>
</html>
